<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<!-- REPEATING HTML ELEMENTS
<div data-ng-app="" data-ng-init="names=['Javi', 'Mariano', 'Isabel', 'Miguel']" style="font-size: 20px">
    <ul>
        <li data-ng-repeat="x in names">
            {{ x }}
        </li>
    </ul>
</div> -->

<div style="font-size: 20px" data-ng-app="" data-ng-init="names=[
{name:'Mariano', country:' Argentina'},
{name: 'Andrei', country:' Romania'},
{name: 'Greg', country: ' Greece'}]">

<ul>
    <li data-ng-repeat="x in names">
        {{x.name + ',' + x.country}}
    </li>
</ul>

</div>


<!-- CONTINUE IN CREATE NEW DIRECTIVES(half the Directives page) -->

</body>
</html>